{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{survey.title}} {% endblock %}
{% block content %}
    <h1 class="mt-2"> {{survey.title}}</h1>
    <div><p>Время теста: {{survey.timedelta}} минут</p></div>

   {# Display a form #}
    <form  action="{{survey.get_absolute_url}}" method="post" >

   {% csrf_token %}
  {{form|crispy }}
    <input id="surveyId" name="surveyId" type="hidden" value="{{survey.id}}">
        <input id="timedelta" name="timedelta" type="hidden" value="{{survey.timedelta}}">
    <button type="submit" class="btn btn-success">
     Начать тестирование
    </button>


    </form>
{% endblock %}